.display-List {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.display-Grid {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.img-Wrapper {
  width: 300px;
  height: 300px;
  border: 1px solid red;
}
.homeWrapper {
  width: 70%;
  margin: 10px 15%;
  text-align: center;
}
.display-Grid img {
  flex-shrink: 3;
}
